@{
    ViewData["Title"] = "Home Page";
}

<!--Home page with JH photo and title-->
<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br/>
    <img src = "~/JoelHilton.jpg" />
</div>
